[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/onap-gerrit-github-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	label-Code-Review = deny -2..+2 group Release Engineering Team
	submit = deny group Release Engineering Team
[project]
	description = This repo contains required GitHub actions workflows
[plugin "its-jira"]
	enabled = true
[submit-requirement "Verified"]
	description = A maximum 'Verified' vote from 'ONAP Required GHA' and one other CI or committer that is a non-uploader is required for the 'Verified' label. A minimum vote is blocking.
	submittableIf = label:Verified=MAX,count>=2 AND label:Verified=MAX,user=non_uploader AND -label:Verified=MIN
	canOverrideInChildProjects = true
